/* @font-face {
    font-family: Verdana;
    src: url("../font/VERDANAB.TTF");
} */

@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    /* font-family: Verdana; */
    user-select: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    overflow: hidden;
    background-image: url("../img/background.jpg");
}

.container {
    height: 100vh;
    width: 100vw;
    position: absolute;
}

.container .bottom-bar {
    margin-top: 20px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%)
}

.container .bottom-bar .inputs {
    width: 700px;
    margin: 0 auto;
}

.container .top-bar {
    text-align: center;
    color: white;
}

.container .top-bar .alt-count {
    font-size: 13px;
    line-height: 0;
    margin-top: -10px;
}

.container .alt-container {
    width: calc(100% - 600px);
    height: calc(100% - 230px);
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    overflow: auto;
    background-color: rgba(61, 83, 129, 0.8);
    border-radius: 3px;
    min-width: 600px;
    backdrop-filter: blur(4px);
}

.container .alt-container .alt {
    max-height: 60px;
    overflow: hidden;
    will-change: background-color, backdrop-filter;
    transition: ease background-color .2s;
    padding: 5px;
    will-change: opacity;
    animation: showAlt .3s;
}

.container .alt-container .alt.loggedin {
    background-color: rgba(89, 192, 132, 0.5) !important;
}

.container .alt-container .alt.failed {
    background-color: rgba(231, 77, 60, 0.5) !important;
}

.container .alt-container .alt:hover {
    background-color: rgba(48, 126, 194, 0.5);
    backdrop-filter: blur(4px);
}

.container .alt-container .alt:hover .buttons {
    opacity: 1;
}

.container .alt-container .alt .head img {
    height: 60px;
    width: 60px;
    image-rendering: pixelated;
    border-radius: 3px;
}

.container .alt-container .alt .buttons {
    opacity: 0;
    will-change: opacity;
    transition: ease opacity .1s;
}

.container .alt-container .alt .buttons button {
    position: absolute;
    height: 30px;
    width: 30px;
    border: none;
    color: white;
    border-radius: 3px;
}

.container .alt-container .alt .login {
    background-color: rgba(46, 204, 112, 0.8);
    margin-top: -48px;
    right: 15px;
    will-change: background-color;
    transition: ease background-color .3s;
}

.container .alt-container .alt .login:hover {
    background-color: rgba(41, 181, 99, 0.8);
}

.container .alt-container .alt .delete {
    background-color: rgba(231, 77, 60, 0.8);
    margin-top: -48px;
    right: 60px;
    will-change: background-color;
    transition: ease background-color .3s;
}

.container .alt-container .alt .delete:hover {
    background-color: rgba(208, 67, 54, 0.8);
}

.container .alt-container .alt .info {
    position: absolute;
    left: 75px;
    color: white;     
}

.container .alt-container .alt .info.username {
    margin-top: -58px;
}

.container .alt-container .alt .info.type {
    margin-top: -30px;
}

.button-back,
.container .bottom-bar .inputs input {
    padding: 12px;
    box-sizing: border-box;
    background-color: rgba(61, 83, 129, 0.8);
    backdrop-filter: blur(4px);
    border: none;
    color: white;
    border-radius: 3px;
}

.button-back,
.container .bottom-bar .inputs input[type=button] {
    width: 60px;
    float: right;
    will-change: filter;
    transition: ease filter .2s;
}

.button-back:hover,
.container .bottom-bar .inputs input[type=button]:hover {
    filter: brightness(80%);
}

.button-back {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.container .bottom-bar .inputs .full {
    width: calc(100% - 70px); 
}

.container .bottom-bar .inputs .half {
    width: calc(50% - 5px);
    margin-top: 10px;
}

.container .bottom-bar .inputs .half:last-of-type {
    float: right;
}

::-webkit-scrollbar-track {
    background-color: rgba(55, 75, 117, 0.8);
    border-radius: 3px;
}

::-webkit-scrollbar {
    width: 8px;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(46, 63, 98, 0.8);
    border-radius: 3px;
}

@keyframes showAlt {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}