@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600");

:root {
    --panel-background: #F1EFF1;
    --panel-border-top: #FF7090;
    --panel-font-color: #514E4E;
    --panel-module-background: #E6E5E6;
    --panel-module-shadow: #CECDCE;

    --panel-module-enabled-color: #FFDAE4;
    --panel-slider-color: #FF7090;
    --panel-slider-background: #ECEBEC;

    --panel-checkbox-border: #514E4E; 
    --panel-checkbox-checked: #FF7090;
}

*:focus {
    outline: none;
}

body {
    font-family: "Montserrat", sans-serif;
    margin: none;
    user-select: none;
}

.clickgui {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.clickgui .panel {
    background-color: var(--panel-background);
    border-top: solid 5px var(--panel-border-top);
    color: var(--panel-font-color);
    display: grid;
    grid-template-rows: repeat(2, min-content);
    grid-row-gap: 10px;
    width: 200px;
    box-sizing: border-box;
    padding: 10px 7px 7px 7px;
    overflow: hidden;
    border-radius: 2px;
    box-shadow: 0px 0px 3px 0px var(--panel-border-top);
    position: absolute;
    z-index: 0;
}

.clickgui .panel .title {
    font-weight: 600;
    font-size: 21px;
    text-transform: uppercase;
}

.clickgui .modules {
    display: grid;
    grid-auto-rows: min-content;
    grid-row-gap: 7px;
    max-height: 600px;
    overflow: auto;
}

.clickgui .modules::-webkit-scrollbar {
    width: 0px;
}

.clickgui .module {
    text-align: center;
    width: 100%;
    background-color: var(--panel-module-background);
    padding: 5px 0px 5px 0px;
    font-weight: 600;
    box-shadow: 0px 1px 1px 0px rgba(206, 205, 206, 1);
    will-change: box-shadow;
    transition: ease box-shadow .2s;
    background: linear-gradient(to left, var(--panel-module-background) 50%, var(--panel-border-top) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    will-change: background-positon, color;
    transition: ease background-position .3s, ease color .1s, ease box-shadow .2s;
}

.clickgui .module.enabled {
    background-position: left bottom;
    color: var(--panel-module-enabled-color);
}

.clickgui .settings {
    grid-auto-rows: min-content;
    grid-row-gap: 5px;
    display: none;
}

.clickgui .settings.shown {
    display: grid;
    animation: toggleSettings .5s;
}

.clickgui .settings input[type=range] {
    appearance: none;
    -webkit-appearance: none;
    background-color: var(--panel-slider-background);
    border-radius: 1px;
    overflow: hidden;
    width: 100%;
    margin: 0;
    box-shadow: inset 0px 0px 5px 0px rgba(206, 205, 206, 1);
}

.clickgui .settings ::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    box-shadow: -100vw 0 0 100vw var(--panel-slider-color);
    background-color: var(--panel-slider-color);
}

.clickgui .settings .range span {
    font-size: 12px;
    font-weight: 600;
}

.clickgui .settings .boolean .checkbox-container {
    display: block;
    position: relative;
    padding-left: 25px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 600;
    margin: 4px 0px 4px 0px;
}

.clickgui .settings .boolean .checkbox-container input[type=checkbox] {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.clickgui .settings .boolean .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 19px;
    width: 19px;
    border-radius: 50%;
    box-shadow: inset 0px 0px 5px 0px rgba(206, 205, 206, 1);
    will-change: background-color;
    transition: ease background-color .2s;
}

.clickgui .settings .boolean input:checked~.checkmark {
    background-color: var(--panel-checkbox-checked);
}

.clickgui .settings .enum span {
    font-size: 12px;
    font-weight: 600;
    display: block;  
}

.clickgui .settings .enum select {
    width: 100%;
    border-radius: 1px; 
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    padding: 5px;
    box-shadow: inset 0px 0px 5px 0px rgba(206, 205, 206, 1);
    border: none;
    background-color: transparent;
    color: var(--panel-font-color);
    margin-top: 4px;
    font-size: 16px;
}

.clickgui .settings .enum select option {
    background-color: var(--panel-background);
    font-weight: 600;
    border-radius: 40px;
}

@keyframes toggleSettings {
    from {
        opacity: 0;
        margin-left: -200px;
    }

    to {
        opacity: 1;
        margin-left: 0;
    }
}
